name: .NET

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 5.0.x
    - name: Restore dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --configuration Release --no-restore 
      working-directory: ./src/
    - name: Publish  
      uses: rohith/publish-nuget@v2
      with:   
       PROJECT_FILE_PATH: src/Abp.KishApp.SMSIR/Abp.KishApp.SMSIR.csproj  
       NUGET_KEY: ${{secrets.NUGET_API_KEY}}
 # PACKAGE_NAME: NuGet package name, required when it's different from project name. Defaults to project name
